{% extends 'base.html' %}
{% block conteudo %}

<h1>Página de Cadastro</h1>

{% if erro is not none %}
<p class="error">
    {{ erro }}
</p>
{% endif %}

{% if form is not none %}
    {% set form_nome = form["nome"] %}
    {% set form_mail = form["email"] %}
{% else %}
    {% set form_nome = "" %}
    {% set form_mail = "" %}
{% endif %}

<form action="{{ url_for('register') }}" method="POST">
    <label for="nome">Nome completo</label>
    <input type="text" name="nome" value="{{ form_nome }}" /> <br/>
    <label for="email">E-mail</label>
    <input type="email" name="email" value="{{ form_email }}" /> <br/>
    <label for="senha">Senha</label>
    <input type="password" name="senha" /> <br/>
    <label for="confsenha">Confirmar senha</label>
    <input type="password" name="confsenha" /> <br/>
    <input type="submit" value="Cadastrar">
</form>

{% endblock %}